* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  caret-color: transparent;
}

a:visited {
  color: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  background-color: rgb(223, 223, 241);
}

main {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.mainRow {
  display: flex;
  padding: 1em 0em 1em 0em;
}

.mainRow h1 {
  font-size: 6.5rem;
}

.mainRow .sectionHeader {
  font-size: 5rem;
  padding-left: 0.5em;
  background: rgb(223, 223, 241);
  background: linear-gradient(
    126deg,
    rgb(223, 223, 241) 50%,
    rgba(129, 83, 85, 1) 110%
  );
}
