#section {
  flex-direction: row;
  justify-content: end;
  background: rgb(160, 159, 209);
  padding: 3em 0em;
  min-height: calc(100vh - 6em);
}

#hero {
  display: flex;
  text-align: right;
  border-radius: 70px 0px 0px 70px;
  padding: 0.5em 1em 2em 4em;
  max-width: 90%;
  background: rgb(223, 223, 241);
}

#content {
  margin: auto 0;
}

#content > h1 {
  font-size: 12rem;
}

#content > h2 {
  font-size: 5rem;
}

#content > p {
  font-size: 1.5rem;
}
