.homeContainer {
  justify-content: space-around;
  background-color: rgb(187, 185, 185);
}

.content {
  margin: auto;
  padding: 1em;
  border-radius: 16px;
  width: 70%;
}

.profile {
  margin: auto;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 30%;
  max-height: 20em;
}
