.navContainer {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: rgb(161, 161, 161);
  border-right: 2px solid black;
  height: 100vh;
  width: 100em;
}

.title {
  font-size: 2.5rem;
  margin: 1em 0.2em;
}

.title h2 {
  font-size: 0.7em;
  padding: 0.25em;
}

.subNav {
  font-size: 1.5rem;
}
