.navContainer {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: rgb(161, 161, 161);
  border-right: 2px solid black;
  height: 100vh;
  width: 100em;
}

.title {
  font-size: 2.5rem;
  margin: 1em 0.2em;
}

.title h2 {
  font-size: 0.7em;
  padding: 0.25em;
}

.subNav {
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  border-radius: 20px;
  padding: 0.3em 0em 0.75em 0em;
}

.techIcons {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.5em;
  justify-items: center;
  font-size: 2em;
}

#jsIcon {
  color: #d8c547;
  background-color: #2d2e2b;
}

#tsIcon {
  color: #0068ad;
  background-color: #f5f5f5;
}

#jestIcon {
  color: #13ae11;
}

#reactIcon {
  color: #00c3e5;
  background-color: #191919;
  border-radius: 50%;
  padding: 3px;
}

#reduxIcon {
  color: #6a45aa;
}

#postmanIcon {
  color: #e56131;
}

#gitIcon {
  color: #14181f;
}

#awsIcon {
  color: #da8900;
  background-color: #1f2c37;
  padding: 3px;
  border-radius: 5px;
}
