.navContainer {
  display: flex;
  flex: 1;
  position: sticky;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(195, 195, 195);
  border-width: 0px 2px 0px 0px;
  border-color: black;
  border-style: solid;
  height: 100vh;
  width: 10%;
}
