.container {
  background-color: rgb(188, 189, 218);
  border-radius: 20px;
  margin: 1em;
  padding: 1em;
}

.titleSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1em 3em;
  text-align: center;
}

.image {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 2.5%;
  max-width: 100%;
  width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: auto;
}

.title {
  font-size: 4rem;
  margin: auto 0;
}

.content {
  display: flex;
  margin: 1em 2em 0em 2em;
  text-indent: 1em;
  line-height: 1.5;
  font-size: 1.5rem;
}

.linkSection {
  display: flex;
  margin: 1em -1em 0.25em;
  justify-content: flex-end;
  color: white;
}

.linkText {
  font-weight: bold;
  background-color: rgba(167, 120, 123, 0.8);
  border-radius: 15px 0px 0px 15px;
  box-shadow: -1px 1px 2px black;
  padding: 0.4em 2em;
}

.linkText:hover {
  background-color: rgba(167, 120, 123, 1);
}

.linkText:active {
  box-shadow: 0px 1px 5px black, inset 0px 0px 3px black;
}
